*{
    margin: 0px;
    padding: 0px;
}

#phone-pay-app{
    margin: auto;
    margin-top: 3%;
    width: 24%;
    /* border: 3px solid; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 1%;
    
}

#pay-mode-1,#pay-mode-3,#pay-mode-4{
    margin-top: 3%;
    display: flex;
    justify-content:space-evenly ;
    margin-top: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5%;
}
.img-acc{
    width: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:5%;
}
#banner{
    margin-bottom: 5%;
}
.banner-img{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#open-space{
    height: 100px;
    background-color: rgb(83, 83, 233);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#open-space>h1{
    color: aliceblue;
    position: absolute;
    margin-top: 2%;
    margin-left: 6%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#open-space>p{
    color: aliceblue;
    position: absolute;
    margin-top: 5%;
    margin-left: 4.2%;
      
}
#pay-mode-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-evenly ;
    margin-top: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5%;
}
#pay-page{
    display: none;
}
#open-space-1>h1{
    color: aliceblue;
    position: absolute;
    margin-top: .7%;
    margin-left: 9%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#open-space-1{
    height: 50px;
    background-color: rgb(83, 83, 233);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#merchand{
    margin-top: 2%;
    padding: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#input{
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 5%;
    padding: 3%;
}
#amount_form>input{
    margin-left: 5%;
    margin-top: 4%;
    height: 40px;
    width: 90%;
    
}
#acc-dat{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5%;
    margin-top: 3%;
    margin-bottom: 3%;

}

.img-acc-1{
    width: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    margin-right: 10%;
}
#last-send{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#send{
    background-color: blue;
    border: 0px;
    padding: 35% 90%;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
}
#final-pay{
    width: 100%;
}
#pay_img{
width: 100%;
height: 100%;
}
.final-page{
    margin-top: 10%;
}
#final-pay{
    display: none;
}
#final-pay>h1{
    /* position:absolute;
    margin-top: 15%; */
    
}
#status{
    font-size: 25px;
    text-align: center;
}
#btn-last{
    margin: auto;
    margin-top: 5%;
    width: 40%;
}
#home-pay-chal{
    width: 100%;
    height: 35px;
    background-color: blue;
    border: 0px;
    padding: 3% 9%;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
}

#pass{
    display: none;
}

.passContainer{
    margin-top: 10%;
    margin-bottom: 10%;
}
.passContainer > #verifypassForm > input {
    width: 43px;
    height: 42px;
    border-radius: 4px;
    padding: 2px;
    margin-right: 10px;
    font: 18px sans-serif;
    text-align: center;
    border: 1px solid #92939154;
  }
  .passContainer > input[type="text"]:focus {
    border: 1px solid #faa619;
  }

  #open-space-1>.verify-pass{
    color: aliceblue;
    position: absolute;
    margin-top: .7%;
    margin-left: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  }
  #real-time{
    font-weight: bold;
    font-size: 30px;
  }
  input{
    accent-color: blue;
  }
  .back-btn1{
    position: absolute;
    width: 2%;
    margin-top: 1%;
    margin-left: 1%;

  }
  .back-btn2{
    position: absolute;
    width: 2%;
    margin-top: 1%;
    /* margin-left: 1%; */
    margin-right: 2%;
  }